In [ ]:
! pip install pandas matplotlib

In [2]:
import pandas as pd
import matplotlib as plt

In [3]:
df_customers = pd.read_csv('./datasets/churn_customers.csv') #clientes
df_services = pd.read_csv('./datasets/churn_services.csv') #serviços
df_contracts = pd.read_csv('./datasets/churn_contracts.csv') #contratos

list = [df_customers, df_services, df_contracts]

In [4]:
for n in range(len(list)):
    print(list[n].head(), '\n'*2)

for n in range(len(list)):
    print(list[n].tail(), '\n'*2)

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No


   customerID PhoneService     MultipleLines InternetService OnlineSecurity  \
0  7590-VHVEG           No  No phone service             DSL             No
1  5575-GNVDE          Yes                No             DSL            Yes
2  3668-QPYBK          Yes                No             DSL            Yes
3  7795-CFOCW           No  No phone service             DSL            Yes
4  9237-HQITU          Yes                No     Fiber optic             No

  OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies
0          Yes               No          No          No              No
1           No              Yes          No          No              No
2          Yes               No          No          No              No
3           No              Yes         Yes          No              No
4           No               No          No          No              No


   customerID  tenure        Contract PaperlessBilling  \
0  7590-VHVEG       1  Month-to-month              Yes
1  5575-GNVDE      34        One year               No
2  3668-QPYBK       2  Month-to-month              Yes
3  7795-CFOCW      45        One year               No
4  9237-HQITU       2  Month-to-month              Yes

               PaymentMethod  MonthlyCharges TotalCharges Churn
0           Electronic check           29.85        29.85    No
1               Mailed check           56.95       1889.5    No
2               Mailed check           53.85       108.15   Yes
3  Bank transfer (automatic)           42.30      1840.75    No
4           Electronic check           70.70       151.65   Yes


      customerID  gender  SeniorCitizen Partner Dependents
7038  6840-RESVB    Male              0     Yes        Yes
7039  2234-XADUH  Female              0     Yes        Yes
7040  4801-JZAZL  Female              0     Yes        Yes
7041  8361-LTMKD    Male              1     Yes         No
7042  3186-AJIEK    Male              0      No         No


      customerID PhoneService     MultipleLines InternetService  \
7038  6840-RESVB          Yes               Yes             DSL
7039  2234-XADUH          Yes               Yes     Fiber optic
7040  4801-JZAZL           No  No phone service             DSL
7041  8361-LTMKD          Yes               Yes     Fiber optic
7042  3186-AJIEK          Yes                No     Fiber optic

     OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV  \
7038            Yes           No              Yes         Yes         Yes
7039             No          Yes              Yes          No         Yes
7040            Yes           No               No          No          No
7041             No           No               No          No          No
7042            Yes           No              Yes         Yes         Yes

     StreamingMovies
7038             Yes
7039             Yes
7040              No
7041              No
7042             Yes


      customerID  tenure        Contract PaperlessBilling  \
7038  6840-RESVB      24        One year              Yes
7039  2234-XADUH      72        One year              Yes
7040  4801-JZAZL      11  Month-to-month              Yes
7041  8361-LTMKD       4  Month-to-month              Yes
7042  3186-AJIEK      66        Two year              Yes

                  PaymentMethod  MonthlyCharges TotalCharges Churn
7038               Mailed check           84.80       1990.5    No
7039    Credit card (automatic)          103.20       7362.9    No
7040           Electronic check           29.60       346.45    No
7041               Mailed check           74.40        306.6   Yes
7042  Bank transfer (automatic)          105.65       6844.5    No

In [5]:
list[0].head()   # mudar variavel pela lista
list[2].tail()
list[2].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB

# Transformação de Dados

In [6]:
# transformar coluna TotalCharges de String para Float 
df_contracts['TotalCharges'] = pd.to_numeric(df_contracts['TotalCharges'])

ValueError: Unable to parse string " " at position 488

In [ ]:
#transfomar coluna total charger de string para floar com coerce
df_contracts['TotalCharges'] = pd.to_numeric(df_contracts['TotalCharges'], errors='coerce')

# caso nao encontre um caracter que ele nao consegue converter ele transforma em um nulo

### Após a transformação a coluna passou a ter 11 valores ausentes

In [ ]:
list[2].info() #total charges com float 64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

# Renomear Colunas

In [7]:
# renomear coluna no DataFrame usando rename e dict
df_customers.rename(columns={'SeniorCitizen': 'Above65yo'})
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [8]:
df_customers_renamed = df_customers.rename(columns={'SeniorCitizen': 'Above65yo'})
df_customers_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7043 non-null   object
 1   gender      7043 non-null   object
 2   Above65yo   7043 non-null   int64
 3   Partner     7043 non-null   object
 4   Dependents  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [9]:
# aplicar o resultado do rename no proprio dataframe
df_customers.rename(columns={'SeniorCitizen': 'Above65yo'}, inplace=True)
df_customers

      customerID  gender  Above65yo Partner Dependents
0     7590-VHVEG  Female          0     Yes         No
1     5575-GNVDE    Male          0      No         No
2     3668-QPYBK    Male          0      No         No
3     7795-CFOCW    Male          0      No         No
4     9237-HQITU  Female          0      No         No
...          ...     ...        ...     ...        ...
7038  6840-RESVB    Male          0     Yes        Yes
7039  2234-XADUH  Female          0     Yes        Yes
7040  4801-JZAZL  Female          0     Yes        Yes
7041  8361-LTMKD    Male          1     Yes         No
7042  3186-AJIEK    Male          0      No         No

[7043 rows x 5 columns]

In [10]:
# rename usando lista - modificar todos os nomes de colunas

df_customers.columns = ['IDCliente', 'Genero', 'Mais65anos', 'TemParceiro', 'TemDependentes']
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IDCliente       7043 non-null   object
 1   Genero          7043 non-null   object
 2   Mais65anos      7043 non-null   int64
 3   TemParceiro     7043 non-null   object
 4   TemDependentes  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB