In [4]:
import pandas as pd

In [5]:
pd.__version__

'2.2.0'

In [6]:
dict_medidas = {'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80], "altura": [160, 162, 165, 168, 172, 174, 174, 174, 176]}

dict_medidas

{'idade': [15, 18, 25, 25, 40, 55, 58, 60, 80],
 'altura': [160, 162, 165, 168, 172, 174, 174, 174, 176]}

In [7]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

# Medidas Resumo

### Medidas de Posição

In [8]:
#media
df_medidas["idade"].mean()

41.77777777777778

In [9]:
# mediana
df_medidas["idade"].median()

40.0

In [10]:
#moda
df_medidas["altura"].mode()

0    174
Name: altura, dtype: int64

### Medidas de Dispersão

In [11]:
#variancia
df_medidas["altura"].var()  #ou
df_medidas.idade.var()

509.94444444444446

In [12]:
#desvio padrao
df_medidas["idade"].std()

22.58194952709895

In [13]:
#coeficiente de variação
df_medidas["idade"].std() / df_medidas["idade"].mean() * 100
df_medidas["altura"].std() / df_medidas["altura"].mean() * 100

54.05253876167302

### Medidas de Forma

In [16]:
# Assimetria
df_medidas["idade"].skew()
df_medidas["altura"].skew()

-0.598486996170113

In [17]:
# curtose
df_medidas["idade"].kurtosis()
df_medidas["altura"].kurtosis()

-1.3372641199913002

In [22]:
# obter medidas estatisticas
df_medidas["idade"].describe()
df_medidas["altura"].describe()

count      9.000000
mean     169.444444
std        5.897269
min      160.000000
25%      165.000000
50%      172.000000
75%      174.000000
max      176.000000
Name: altura, dtype: float64